<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head th:replace="partials::head(title = 'User Profile')"/>

<body>
<nav th:replace="partials::taskNavBar"/>

<h2 class="d-flex justify-content-center">Edit Task</h2>
<br>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="d-flex">
            <p style="margin-bottom: 4px;">Task</p>
            <p style=" margin-left: 150px;margin-bottom: 4px;">Status</p>
            <p style=" margin-left: 52px;margin-bottom: 4px;">Category</p>
            <p style=" margin-left: 35px;margin-bottom: 4px;">Due date</p>
        </div>

        <form action="/tasks/edit" method="post">
            <div class="input-group">
                <input hidden name="id" th:value="${task.id}">
                <input name="action" th:value="${task.action}" type="text" id="todo-input">
                <select name="completed" class="todo-complete-option">
                    <option value="incomplete" selected>Incomplete</option>
                    <option value="complete">Completed</option>
                </select>
                <select name="category" class="todo-category-option">
                    <option th:each="category: ${categories}"
                            th:value="${category.getType()}"
                            th:text="${category.getType()}"
                            th:selected="${category.getType() == task.category.getType()}"></option>
                    <!--                <option value="chores">Chores</option>-->
                    <!--                <option value="academic">Academic</option>-->
                    <!--                <option value="finance">Finance</option>-->
                    <!--                <option value="health">Health</option>-->
                    <!--                <option value="misc">Misc</option>-->
                </select>
                <input th:value="${task.scheduledDate}" type="date" name="date">
                <button type="submit" class="btn btn-primary todo-button">
                    Edit
                    <!--                <i class="fa-solid fa-plus"></i>-->
                </button>
                <a class="btn btn-success" href="/tasks">Create</a>
            </div>
        </form>
    </div>
</div>

<section class="container">
    <div class="card mt-4 cardTask">
        <div class="card-header d-flex justify-content-between">
            <p th:text="'Date Created: '+${task.dateCreated}"></p>
            <p th:text="'Category: '+${task.getCategory().getType()}"></p>
        </div>

        <div class="card-body">
            <!--            <h5 class="card-title">Card title</h5>-->
            <p class="card-text" th:text="${task.action}"></p>
            <p class="card-text" th:text="'Due date: '+${task.scheduledDate}"></p>

            <form th:action="'/tasks/complete/'+${task.id}" method="post">
            <button type="submit" class="btn btn-primary"
                    th:text="${task.completed} == 'complete' ? 'Mark Uncomplete' : 'Mark Complete'"></button>
            </form>

            <form th:action="'/tasks/delete/'+${task.id}" method="post">
                <button type="submit"
                        th:attr="data-id=${task.id}"
                        class="btn btn-danger deleteBtn"
                        onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
            </form>
        </div>
    </div>
</section>

<div th:replace="partials::scripts"/>

<!--<script th:replace="partials::scripts"/>-->
<!--<script th:replace="partials::fileStackApi"/>-->
<!--<script th:replace="partials::taskScripts"/>-->
</body>
</html>