<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head th:replace="partials::head(title = 'User Profile')"/>

<body>
<nav th:replace="partials::taskNavBar"/>

<h2 class="d-flex justify-content-center">Edit Task</h2>
<br>
<!--<div class="d-flex justify-content-center">-->
<!--    <div class="d-flex flex-column">-->

<!--        <form action="/tasks/edit" method="post">-->
<!--            <div class="input-group">-->
<!--                <input hidden name="id" th:value="${task.id}">-->

<!--                <input name="action" th:value="${task.action}" type="text" id="todo-input">-->

<!--                <select name="completed" class="todo-complete-option">-->
<!--                    <option value="incomplete" selected>Incomplete</option>-->
<!--                    <option value="complete">Completed</option>-->
<!--                </select>-->

<!--                <select name="category" class="todo-category-option">-->
<!--                    <option th:each="category: ${categories}"-->
<!--                            th:value="${category.getType()}"-->
<!--                            th:text="${category.getType()}"-->
<!--                            th:selected="${category.getType() == task.category.getType()}"></option>-->
<!--                    &lt;!&ndash;                <option value="chores">Chores</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                <option value="academic">Academic</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                <option value="finance">Finance</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                <option value="health">Health</option>&ndash;&gt;-->
<!--                    &lt;!&ndash;                <option value="misc">Misc</option>&ndash;&gt;-->
<!--                </select>-->
<!--                <input th:value="${task.scheduledDate}" type="date" name="date">-->
<!--                <button type="submit" class="btn btn-primary todo-button">-->
<!--                    Edit-->
<!--                    &lt;!&ndash;                <i class="fa-solid fa-plus"></i>&ndash;&gt;-->
<!--                </button>-->
<!--                <a class="btn btn-success" href="/tasks">Create</a>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="row g-4">

        <!--Sidenav START-->
        <div th:replace="partials::sideNavbarEdit"></div>
        <!--Sidenav END-->


        <div class="col-lg-8" style="margin-top: 0px;">

            <!--Task to edit START-->
            <section class="container">
                <div class="card mt-4 cardTask">
                    <div class="card-header d-flex justify-content-between">
                        <p th:text="'Title: '+${task.title}"
                           th:style="${task.completed.equalsIgnoreCase('incomplete')}?'': 'text-decoration:line-through'" ></p>

                        <p th:text="'Category: '+${task.getCategory().getType()}"
                           th:style="${task.completed.equalsIgnoreCase('incomplete')}?'': 'text-decoration:line-through'"></p>
                    </div>

                    <div class="card-body">
                        <!--            <h5 class="card-title">Card title</h5>-->
                        <p th:style="${task.completed.equalsIgnoreCase('incomplete')}?'': 'text-decoration:line-through'"
                           class="card-text" th:text="${task.action}"></p>

                        <p th:text="'Date Created: '+${task.dateCreated}"
                           th:style="${task.completed.equalsIgnoreCase('incomplete')}?'': 'text-decoration:line-through'"></p>

                        <p class="card-text" th:text="'Due date: '+${task.scheduledDate}"
                           th:style="${task.completed.equalsIgnoreCase('incomplete')}?'': 'text-decoration:line-through'"></p>

                        <div class="d-flex justify-content-between">
                        <form th:action="'/tasks/complete/'+${task.id}" method="post">
                            <button type="submit" class="btn btn-primary"
                                    th:text="${task.completed} == 'complete' ? 'Mark Uncomplete' : 'Mark Complete'"></button>
                        </form>

                        <form th:action="'/tasks/delete/'+${task.id}" method="post">
                            <button type="submit"
                                    th:attr="data-id=${task.id}"
                                    class="btn btn-danger deleteBtn"
                                    onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
                        </form>
                        </div>

                    </div>
                </div>
            </section>
            <!--Task to edit END-->

        </div>

    </div>
</div>




<div th:replace="partials::scripts"/>

<!--<script th:replace="partials::scripts"/>-->
<!--<script th:replace="partials::fileStackApi"/>-->
<!--<script th:replace="partials::taskScripts"/>-->
</body>
</html>